p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

body {
    background-color: white;
    margin: 0;
    color: #F20746;
}

.navbar {
    display: flex;
    justify-content: center;
}

.content {
    margin: 10px 20px;
}

.lista-ordenada {
    font-size: 25px;
    text-align: justify;

}

.lista-ordenada>li {
    margin: 20px 0;
}

.homepage {
    text-align: center;
    display: flex;
    flex-direction: column;

}

.navbar>ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 25px;
    align-items: center;
}

.navbar {
    background-color: #1a233d;
    position: flex;
}

.navbar>ul>li {
    margin-right: 10px;
}

.navbar>ul>li>a {
    text-decoration: none;
    color: white;
}

.navbar>ul>li:hover {
    background-color: #FF9805;
}


button {
    background-color: beige;
    border-radius: 10px;
    padding: 30px;
    font-size: 40px;
}