@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,121,146,1) 100%);  
    margin: 0;
    color: #E3FEF7;
}

main {
    flex: 1;
    margin: 0 20vw 6vh 20vw;
}

p {
    font-size: 20px;
    margin-top: 25px;
    text-align: justify-all;

}

h1 {
    margin-top: 30px;
    font-size: 35px;
}

h2, h3 {
    margin-top: 30px;
    font-size: 27.5px;
}

#homepage {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#homepage img {
    display: block;
    margin: 0 auto 60px auto;
    width: 300px;
    max-width: 100%;
    min-width: 200px;
}

.pageContainer { 
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
} 

.pageContainer ol {
    padding: 0;
}

#loginPage {
    text-align: center;
    flex-grow: 0;
    width: 35vw;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 0 0 5px 0px black;
    padding: 50px 30px 50px 30px;
}

#loginPage input {
    box-sizing: border-box;
    display: block;
    width: 80%;
    margin: 0 auto 20px auto;
    padding: 10px 10px;
}

#loginPage a {
    color: white;
}

#navbar {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,121,146,1) 100%); 
    box-shadow: 0 0 5px 0px black;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}

@media only screen and (min-width: 650px) {
    #navbar {
        justify-content: space-evenly;
        align-items: center;
    }
    #navList1 {
        list-style-type: none;
        padding: 0 30px 0 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; /** responsividade , quebra de linha **/
        align-items: center;
        font-size: 20px;
    }
    #navList2 {
        display: none;
    }
}

@media only screen and (max-width: 649px) {
    #navbar {
        justify-content: flex-start;
        align-items: center;
    }
    #navList2 {
        list-style-type: none;
        padding: 0 40px 0 40px;
        display: flex;
        flex-direction: row; 
        align-items: center;
        justify-content: left;
        font-size: 20px;
    }
    #navList1 {
        display: none;
    }

    .backgroundImage {
        display: none;
    }

}

#navbar ul li {
    color: #E3FEF7;
    padding: 5px;
    margin-right: 30px;
}

#navbar ul li a {
    text-decoration: none;
    color: white;
}

#navbar ul li a:hover {
    color: #7bc7d1;
}

#hamburgerButton {
    width: 30px;
}

#hamburgerButton:hover {
    content: url('../img/hamburger-svgrepo-com-hover.svg');
}


#mobileNavbar {
    background-color: rgb(2,0,36);
    display: none;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

#mobileNavbar ul {
    list-style-type: none;
}

#mobileNavbar ul li {
    color: #E3FEF7;
    padding: 5px;
    margin-right: 30px;
}

#mobileNavbar ul li a {
    text-decoration: none;
    color: white;
}

#mobileNavbar ul li a:hover {
    color: #7bc7d1;
}

#homebutton {
    width: 40px;
}

#homebutton:hover {
    content: url('https://cdn.discordapp.com/attachments/1217788976815931527/1230462384431169566/home-1-svgrepo-com_2.png?ex=66336865&is=6620f365&hm=184b8c20a10ffc0d6e51d1735b248f30ef466d5d6115244d933d52314f9246f1&');
} 

.listaOrdenada {
    font-size: 20px;
    text-align: justify;
    list-style-type: none;
}

.listaOrdenada li {
    margin: 20px 0;
}

.videoRegras {
    display: flex;
    margin: 0 auto 0 auto;
    max-width: 100%;
}   

.buttonDificulty {
    margin: 0 5px 15px 5px !important;
}


footer {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(2,0,36) 0%, rgb(0, 74, 88) 100%); 
    color: #E3FEF7;
    padding: 20px 0 20px 0;
    position: relative;
    bottom: 0;
}

footer ul {
    list-style-type: none; 
}

footer ul li {
    margin-bottom: 10px;
}

.backgroundImage {
    
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    
}

